.modal {
    position: fixed;
    padding: 0 16px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
}

.modal_opened {
    visibility: visible;
    opacity: 1;
}

.modal__container {
    background-color: #FFFFFF;
    padding: 32px 50px;
    max-width: 730px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    border-radius: 8px;
}

.modal__cancel-button {
    width: 156px;
    height: 52px;
    position: relative;
    left: 176px;
    padding: 0;
    border-radius: 8px;
    border-style: solid;
    background-color: #FFFFFF;
}

.modal__cancel-button:hover {
    cursor: pointer;
    background-color: #212121;
    color: #ffffff;
}

.modal__delete-button {
    width: 156px;
    height: 52px;
    position: relative;
    left: 149px;
    padding: 0;
    border-radius: 8px;
    border: none;
    background-color: #FF6565;
}

.modal__delete-button:hover {
    cursor: pointer;
    background-color: #FF3333;
}

.modal__delete-close-button-img {
    margin: 0;
    padding: 0;
    position: absolute;
    opacity: 100%;
    right: -105px;
    bottom: 38px;
}

.modal__delete-close-button-img:hover {
    opacity: 50%;
    cursor: pointer;
}

.delete__buttons-container {
    margin-top: 32px;
    display: absolute;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: #212121;
}

.modal__title-delete {
    margin: 32px -30px;
    font-weight: 500;
    size: 24px;
    line-height: 24px;
    text-align: center;
}

.modal__content-type-preview {
    padding: 0;
    position: relative;
}

.modal__image {
    position: center;
    object-fit: contain;
    width: 100%;
    max-width: 80vw;
    max-height: 80vh;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

.modal__close-button {
    position: absolute;
    top: 32px;
    right: 50px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #FFFFFF;
}

.modal__close-button-img {
    opacity: 40%;
}

.modal__close-button-img:hover {
    opacity: 100%;
    cursor: pointer;
}

.modal__close-type-preview {
    background-image: url(../images/close-preview.svg);
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    position: absolute;
    opacity: 100%;
    right: -42.7px;
    top: auto;
}

.modal__close-type-preview:hover {
    opacity: 80%;
    cursor: pointer;
}

.modal__caption {
    display: inline-block;
    background-color: #212121;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    border-radius: 8px;
    padding: 4px 8px;
    margin: 8px 0 0 0;
}

.modal__title {
    margin: 0 0 32px;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    color: #212121;
}

.modal__label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 17.6px;
    color: #212121;
    opacity: 70%;
}

.modal__input {
    padding: 16px 12px;
    border-radius: 8px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #212121;
    opacity: 40%;
}

.modal__input_type_error {
    border: 1px solid #FF000099;
}

.modal__input:hover {
    cursor: pointer;
    opacity: 100%;
}

.modal__error {
    display: block;
    color: #FF0000B2;
    font-weight: 500;
    font-size: 16px;
    line-height: 17.6px;
}

.modal__submit-button {
    width: 156px;
    padding: 18px 0;
    background-color: #212121;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    transition: 0.3s;
}

.modal__submit-button:hover {
    opacity: 80%;
    cursor: pointer;
}

.modal__container-form_error {
    opacity: 50%;
}

@media screen and (max-width: 627px) {
    .modal {
        padding: 0 10px;
    }

    .modal__container {
        padding: 12px;
    }

    .modal__title {
        font-size: 20px;
        margin: 10px 0 34px;
    }

    .modal__close-button {
        top: 12px;
        right: 12px;
    }

    .modal__label {
        margin-bottom: 24px;
    }

    .modal__submit-button {
        width: 100%;
    }

    .modal__close-type-preview {
        top: -42px;
        right: -12px;
    }

    .modal__image {
        max-width: 100vw;
        max-height: 100vh;
    }

    .modal__title-delete {
        text-align: center;
        font-size: 20px;
        margin: 10px 0 34px;
    }

    .modal__delete-button {
        width: 100%;
        left: 1px;
    }

    .modal__cancel-button {
        width: 100%;
        left: 1px;
        margin-top: 8px;
    }

    .modal__delete-close-button-img {
        margin: 0;
        padding: 0;
        position: absolute;
        opacity: 100%;
        right: -105px;
        bottom: 38px;
    }

    .modal__delete-close-button-img {
        top: -54px;
        right: -15px;
        
    }

}