.profile {
    display: flex;
    padding: 34px 0 20px;
    border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
    margin-right: 20px;
    height: 190px;
    width: 190px;
}

.profile__column {
    display: flex;
    flex-direction: column;
}

.profile__name {
    margin: 0 0 12px;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    color: #212121;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 420px;
}

.profile__description {
    margin: 0;
    color: #212121;
    opacity: 70%;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 420px;
}

.profile__edit-button {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding-left: 0;
    background-color: transparent;
    border: none;
    height: 16px;
    border-radius: 90px;
    font-size: 16px;
    line-height: 16px;
    color: #212121;
    opacity: 70%;
}

.profile__edit-button-img {
    margin-right: 8px;
    margin-left: 0;
}

.profile__edit-button:hover {
    opacity: 100%;
    cursor: pointer;
}

.profile__add-button {
    margin-left: auto;
    margin-top: 138px;
    color: #FCF5E5;
    background-color: #212121;
    border: none;
    border-radius: 8px;
    width: 149px;
    height: 52px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

.profile__add-button-img {
    width: 12px;
    height: 12px;
    border: none;
    margin-right: 8px;
}

.profile__add-button:hover {
    opacity: 80%;
    cursor: pointer;
}

@media screen and (max-width: 637px) {
    .profile {
        flex-direction: column;
        max-width: 288px;
        align-items: center;
        text-align: center;
        padding-top: 20px;
    }

    .profile__avatar {
        margin: 0 0 12px;
        height: 80px;
        width: 80px;
    }

    .profile__name {
        font-size: 20px;
        margin: 0 0 6px;
        max-width: 288px;
        line-height: 20px;
    }

    .profile__description {
        margin: 0 0 32px;
        max-width: 288px;
    }

    .profile__column {
        margin: 0 0 20px;
    }

    .profile__add-button {
        margin: 0;
        width: 100%;
    }

    .profile__edit-button {
        justify-content: center;
    }
}