<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tripleten Spots">
    <meta name="keywords" content="HTML, css">
    <meta name="author" content="Sohaib Tahir">
    <link rel="shortcut icon" href="favicon.ico"/>
    <title>Spots</title>
</head>
<body>
    <div class="page">
        <header class="header">
            <img src="<%= require('./images/logo.svg') %>" alt="Spot logo" class="header__logo" />
        </header>
        <main class="content">
            <section class="profile page__section">
                <img src="<%= require('./images/avatar.jpg') %>" alt="Bessie Coleman image" class="profile__avatar">
                <div class="profile__column">
                    <h1 class="profile__name">Bessie Coleman</h1>
                    <p class="profile__description">Civil Avatar</p>
                    <button type="button" class="profile__edit-button">
                        <img class="profile__edit-button-img" src="<%= require('./images/pencil.svg') %>" alt="pancil icon">Edit Profile
                    </button>
                </div>
                <button type="button" class="profile__add-button">
                    <img class="profile__add-button-img" src="<%= require('./images/plus.svg') %>" alt="plus icon">New Post
                </button>
            </section>
            <section class="cards page__section">
                <ul class="cards__list">
                    <template id="card-template">
                        <li class="card">
                            <button type="button" class="card__delete-button"></button>
                            <img src="" alt="" class="card__image">
                            <div class="card__content">
                                <h2 class="card__title"></h2>
                                <button type="button" class="card__like-button"></button>
                            </div>
                        </li>
                    </template>
                </ul>
            </section>
        </main>
        <footer class="footer page__section">
            <p class="footer__copyright">2023 &copy; Spots</p>
        </footer>
        <div class="modal" id="edit-profile-modal">
            <div class="modal__container">
                <button type="submit" class="modal__close-button" id="close-modal-button">
                    <img class="modal__close-button-img" src="<%= require('./images/close.svg') %>" alt="close icon">
                </button>
                <h2 class="modal__title">Edit profile</h2>
                <form name="edit-profile" class="modal__container-form" novalidate>
                    <label for="profile-name-input" class="modal__label">Name
                        <input minlength="2" maxlength="40" required id="profile-name-input" type="text" class="modal__input" placeholder="Type your name">
                        <span id="profile-name-input-error" class="modal__error"></span>
                    </label>
                    <label for="profile-description-input" class="modal__label">Description
                        <input minlength="2" maxlength="200" required id="profile-description-input" type="text" class="modal__input" placeholder="Describe yourself">
                        <span id="profile-description-input-error" class="modal__error"></span>
                    </label>
                    <button type="submit" class="modal__submit-button">Save</button>
                </form>
            </div>
        </div>
    <div class="modal" id="add-card-modal">
        <div class="modal__container">
            <button type="submit" class="modal__close-button" id="close-modal-button">
                <img class="modal__close-button-img" src="<%= require('./images/close.svg') %>" alt="close icon">
            </button>
            <h2 class="modal__title">New post</h2>
            <form name="edit-profile" class="modal__container-form" id="add-card-form" novalidate>
                <label for="add-card-link-input" class="modal__label">Image link
                    <input required id="add-card-link-input" type="url" class="modal__input" placeholder="Paste a link to the picture">
                    <span id="add-card-link-input-error" class="modal__error"></span>
                </label>
                <label for="add-card-name-input" class="modal__label">Caption
                    <input minlength="2" maxlength="30" id="add-card-name-input" type="text" class="modal__input" placeholder="Type your caption">
                    <span id="add-card-name-input-error" class="modal__error"></span>
                </label>
                <button type="submit" class="modal__submit-button">Save</button>
            </form>
        </div>
    </div>
<div class="modal" id="preview-modal">
    <div class="modal__content modal__content-type-preview">
        <button type="submit" class="modal__close-button modal__close-type-preview" id="close-modal-button"></button>
        <img class="modal__image" src="" alt="name">
        <p class="modal__caption"></p>
    </div>
</div>
</body>
</html>
